<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Parkometer Map</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/account">Account</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <!-- Leaflet map -->
  <div id="map" class="map-container"></div>

  <!-- Search bar overlay -->
  <div class="search-container ion-padding">
    <ion-item lines="none" class="search-item">
      <ion-input
        [(ngModel)]="searchQuery"
        placeholder="Search destination"
      ></ion-input>
      <ion-button shape="round" (click)="searchLocation()">Search</ion-button>
    </ion-item>
  </div>
</ion-content>
