.location-container {
  display: flex;
  height: 100%;
}

.map-panel {
  width: 60%;
  height: 100%;
}

.map-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.list-panel {
  width: 40%;
  height: 100%;
  padding: 12px;
  overflow-y: auto;
  background: #0f38a0;
}

.title {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: bold;
}

.lot-card {
  background: rgb(0, 0, 0);
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: 1px solid #dce3f0;
  cursor: pointer;
  transition: 0.3s;
}

.lot-card:hover {
  transform: translateX(4px);
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}
