<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Parking near {{ destination }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let lot of lots" (click)="openLot(lot)">
  <ion-label>
    <h2>{{ lot.name }}</h2>
    <p>{{ lot.availableSpaces }} spaces available</p>
    <p>{{ lot.distance }} walk</p>
  </ion-label>
</ion-item>

  </ion-list>
</ion-content>
