.location-container {
  display: flex;
  height: 100%;
}

/* LEFT PANEL */
.map-panel {
  width: 60%;
  height: 100%;
}

.map-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* RIGHT PANEL */
.list-panel {
  width: 40%;
  height: 100%;
  padding: 12px;
  overflow-y: auto;
  background: #0f38a0;
}

.save-btn {
  margin-top: 20px;
  border-radius: 30px;
  font-size: 16px;
  --background: #3b82f6;
}