<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/location"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ lot?.name }} Reserve</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="location-container">

    <!-- LEFT: MAP -->
    <div class="map-panel">
      <div #map class="map-container"></div>
    </div>

    <!-- RIGHT: INPUT -->
    <div class="list-panel">
      
      <ion-button expand="block" class="save-btn">Save Reservation</ion-button>
    </div>

  </div>

</ion-content>

