.location-container {
  display: flex;
  height: 100%;
}

/* LEFT PANEL */
.map-panel {
  width: 60%;
  height: 100%;
}

.map-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* RIGHT PANEL */
.list-panel {
  width: 40%;
  height: 100%;
  padding: 12px;
  overflow-y: auto;
  background: #0f38a0;
}

.title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.reserve-btn {
  margin-top: 20px;
  border-radius: 30px;
  font-size: 16px;
  --background: #3b82f6;
}

.form-heading {
  font-size: 18px;
  font-weight: bold;
  margin: 16px 0 8px;
  color: #fff;
}

ion-item {
  margin-bottom: 12px;
  background: black;
  color: #fff;
}

ion-label {
  font-weight: bold;
  color: #fff;
}

ion-input {
  color: #fff;
}

.divider {
  border-bottom: 1px solid #fff;
  margin: 12px 0;
}
