<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Parking Lot Management</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Parking Lot Management</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <!-- ADD NEW LOT -->
      <ion-button
        expand="block"
        color="success"
        routerLink="/add-lot"
        class="ion-margin-bottom"
      >
        ADD NEW PARKING LOT
      </ion-button>

      <!-- MANAGE EXISTING LOTS -->
      <ion-button
        expand="block"
        color="warning"
        routerLink="/manage-lots"
        class="ion-margin-bottom"
      >
        VIEW / EDIT EXISTING LOTS
      </ion-button>

      <!-- USER LOT VIEW -->
      <ion-button
        expand="block"
        color="primary"
        routerLink="/home"
      >
        VIEW PARKING LOTS (USER VIEW)
      </ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>
