/* Fullscreen map layout */
ion-content,
.map-wrapper,
.map-card,
.map-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.map-container {
  width: 100%;
  height: calc(100vh - 120px); /* ensures map is visible under the bar */
}

/* Search bar styling */
.search-container {
  position: absolute;
  top: 70px;
  width: 100%;
  z-index: 9999;
}

.search-item {
  --background: #1f1f1f;
  border-radius: 40px;
  padding-left: 10px;
  padding-right: 10px;
  width: 95%;
  margin: auto;
}

.search-input {
  flex: 1;
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
}

.search-input::placeholder {
  color: #bbbbbb;
}
