.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;

  h1 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
  }

  p {
    margin-bottom: 30px;
    color: #888;
  }

  ion-button {
    margin-top: 10px;
    width: 80%;
  }
}
